@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

p {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Clicker Script", "Sans-Serif";
  
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: "Elsie Swash Caps", "cursive";
  color: gray;
 text-align: right; 
}

.milk-text {
  font: bold, 2.6em, "Elsie Swash Caps", "cursive";
  text-shadow: 0 2px 3px ;
  
}